body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 2rem 1rem 1rem;
  color: #FEF2BF;
}

.note {
  font-size: 20px;
  color: white;
  padding-bottom: 1rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
  width: 45%;
  margin: auto;
}

.btn {
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
  cursor: pointer;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}


/* Fade In and Out Animation  */

.fadeInOut {
  animation-name: fadeInAndOut;
  animation-duration: 100ms;
}

@keyframes fadeInAndOut {
  0%   {opacity: 1;}
  50%  {opacity: 0;}
  100% {opacity: 1;}
}




/* RESPONSIVE CSS */

@media only screen and (max-width: 1160px) {

  .container {
    width: 50%;
  }

}


@media only screen and (max-width: 1024px) {

  body {
    font-size: 15px;
  }

  .container {
    width: 70%;
  }

}


@media only screen and (max-width: 730px) {

  body {
    font-size: 14px;
  }

  .container {
    width: 90%;
  }

}

@media only screen and (max-width: 575px) {

  .container {
    gap: 1rem;
  }

  .btn {
    width: 150px;
    height: 150px;
  }

}


@media only screen and (max-width: 430px) {

  .btn {
    width: 120px;
    height: 120px;
  }

  #level-title {
    font-size: 2rem;
    margin: 2.54rem 1rem 1rem;
  }

  .note {
    padding-bottom: 1.5rem;
  }


}

